body {
   // background-color: rgb(193, 255, 94);
   font-family: 'Manrope', sans-serif;
}

.wrapper {
   margin: 0 auto;
}
.container {
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 5px;
}
.section {
   // padding: 15px 0;
}
.callBtn {
   width: 200px;
   height: 50px;
   background-color: #285fb3;
}
