.rent {
   background-color: #f3e389;

   &__container {
   }

   &__title {
   }

   &__subtitle {
   }

   &__list {
   }

   &__item {
   }

   &__capacity {
   }

   &__features {
   }

   &__extras {
   }

   &__prices {
   }

   &__price {
   }
}
