@import './nullStyle.scss';
@import './global.scss';
@import './header.scss';
@import './main.scss';
@import './teachers.scss';
@import './pricing.scss';
@import './about.scss';
@import './collab.scss';
@import './slider.scss';
@import './video.scss';
@import './rent.scss';
@import './contacts.scss';
@import './map';
@import './footer.scss';
