.gallery {
   background-color: #89cec8;

   &__container {
   }

   &__title {
   }

   &__videos {
      max-height: 100vh;
      overflow: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;

      scrollbar-width: none;
      -ms-overflow-style: none;
   }
   &__videos ::-webkit-scrollbar {
      display: none;
   }

   &__video {
      max-width: 400px;
      margin-bottom: 50px;
   }

   &__player {
      width: 100%;
   }
}
